/*   s i m p l e _ n a v - N a v i g a t i o n   */
div.simple_nav1 {
   padding:3px; width:150px; line-height:0.8em;
   border-bottom:solid 1px rgba(255,190,60,1);
   border-top:   solid 1px rgba(255,190,60,1);     /* auch oberer Rand */
   border-left:  solid 0px rgba(255,190,60,1);
   border-right: solid 0px rgba(255,190,60,1);
   border-radius:0em; }
div.simple_nav {
   padding:3px; width:150px; line-height:0.8em;
   border-bottom:solid 1px rgba(255,190,60,1);
   border-top:   solid 0px rgba(255,190,60,1);     /* kein oberer Rand */
   border-left:  solid 0px rgba(255,190,60,1);
   border-right: solid 0px rgba(255,190,60,1);
   border-radius:0em; }
div.typ0 { background-color:rgba(255,255,255,0); }
div.typ1 { background-color:rgba(255,190,60,0.3); }
div.typ2 { background-color:rgba(204,102,51,1); }
div.typ0 div a, div.typ1 div a {
   font-size:0.8em; color:rgba(153,51,0,1); }
div.typ2 div {
   font-size:0.8em; color:rgba(255,255,255,1); }
/*   fuer die Konfiguration   */
.nav_table { background-color:inherit; }
.nav_guide { padding-left:10px; white-space:nowrap; }
.nav_input { width:60px; text-align:right; }
/*   fuer das Beispiel   */
.xmp_nowrap { vertical-align:top; white-space:nowrap; }
.xmp_pad { padding-left:20px; }
.xmp_bgcolor { background-color:silver; }
.xmp_border { padding:5px; border:solid 3px silver; }